<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<body>
<a href="/">Back</a>
/ <a href="/login">Login</a>
/ <a href="/register">Register</a>
<h1>Check flight status</h1>
<form action="/checkPublic" method="POST">
  airline <input type="text" name="airline_name" placeholder="airline name" value="{{airline_name}}" required/> <br>
  flight number <input type="text" name="flight_number" placeholder="flight number" value="{{flight_number}}" required/> <br>
  <input type="radio" id="radio-one" name="datetype" value="departure_date" checked/>
  <label for="radio-one">departure date</label>
  <input type="radio" id="radio-two" name="datetype" value="arrival_date" />
  <label for="radio-two">arrival date</label><br>
  <input type="date" name = "date" placeholder="YYYY/MM/DD" value={{date}} required/> <br>
  <input type="submit" value = Check />
</form>

<table>
	<th>Airline</th>
	<th>Flight Number</th>
  <th>Departure Date</th>
  <th>Departure Time</th>
  <th>Arrival Date</th>
  <th>Arrival Time</th>
  <th>Source</th>
  <th>Destination</th>
  <th>Status</th>

{% for line in statuses %}
<tr>
	<td>{{line['airline_name']}}</td>
	<td>{{line['flight_number']}}</td>
  <td>{{line['departure_date']}}</td>
  <td>{{line['departure_time']}}</td>
  <td>{{line['arrival_date']}}</td>
  <td>{{line['arrival_time']}}</td>
  <td>{{line['departure_airport']}}</td>
  <td>{{line['arrival_airport']}}</td>
  <td>{{line['status']}}</td>
</tr>
{% endfor %}
</table>
</body>

<script>
  if("{{datetype}}"=="departure_date"){
    document.getElementById('radio-one').setAttribute("checked","");
    document.getElementById('radio-two').removeAttribute("checked");
  }else{
    document.getElementById('radio-two').setAttribute("checked","");
    document.getElementById('radio-one').removeAttribute("checked");
  }
</script>

</html>
