<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<body>
<a href="/logout">Logout</a>
/ <a href="/staff_home">Back</a>
{% if exist_flight %}
  <h1 class="error"><strong>Error:</strong><h1>
  <h2>{{exist_flight}}</h2>
{% endif %}


{% if not exist_flight %}
<h1>Flight and tickets created successfully</h1>

<h2>Flights for the next 30 days</h2>
<table>
	<th>Airline</th>
	<th>Flight Number</th>
  <th>Departure Date</th>
  <th>Departure Time</th>
  <th>Arrival Date</th>
  <th>Arrival Time</th>
  <th>Source</th>
  <th>Destination</th>
  <th>Base Price</th>
  <th>Status</th>
{% for line in flights %}
<tr>
	<td>{{line['airline_name']}}</td>
	<td>{{line['flight_number']}}</td>
  <td>{{line['departure_date']}}</td>
  <td>{{line['departure_time']}}</td>
  <td>{{line['arrival_date']}}</td>
  <td>{{line['arrival_time']}}</td>
  <td>{{line['departure_airport']}}</td>
  <td>{{line['arrival_airport']}}</td>
  <td>{{line['base_price']}}</td>
  <td>{{line['status']}}</td>
</tr>
{% endfor %}
</table>
{% endif %}
</body>

</html>
