<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<body>
<a href="/logout">Logout</a>
<h1>Welcome</h1>
<h2>Search for flights</h2>
<form action="/search" method="POST">
  source <input type="text" name = "source" placeholder="source" required/> <br>
  destination <input type="text" name = "destination" placeholder="destination" required/> <br>
  <div id="radio-one-div">
    <input type="radio" id="radio-one" name="triptype" value="one-way" />
    <label for="radio-one">one-way trip</label>
    <input type="radio" id="radio-round" name="triptype" value="round" checked/>
    <label for="radio-round">round trip</label><br>
  </div>
  departure date <input type="date" name = "depart-date" placeholder="YYYY/DD/MM" required/> <br>
  <div id='return-date-div' style="visibility:visible;">
    return date <input id="return-date" type="date" name = "return-date" placeholder="YYYY/DD/MM" required/> <br>
  </div>
  <input type="submit" value = Search />
</form>
<br>

<h2>View my flights</h2>
<form action="/view" method="POST">
  date range <br>
  from <input type="date" name = "from-date" placeholder="YYYY/MM/DD" value={{from_date}}> <br>
  to <input type="date" name = "to-date" placeholder="YYYY/MM/DD" value={{to_date}}> <br>
  source <input type="text" name = "source" placeholder="source" value={{source}}> <br>
  destination <input type="text" name = "destination" placeholder="destination" value={{destination}}> <br>
  <input type="submit" value = View />
</form>
<h3>Future flights</h3>
<table>
	<th>Airline</th>
	<th>Flight Number</th>
  <th>Departure Date</th>
  <th>Departure Time</th>
  <th>Arrival Date</th>
  <th>Arrival Time</th>
  <th>Source</th>
  <th>Destination</th>
  <th>Status</th>
{% for line in flights %}
<tr>
	<td>{{line['airline_name']}}</td>
	<td>{{line['flight_number']}}</td>
  <td>{{line['departure_date']}}</td>
  <td>{{line['departure_time']}}</td>
  <td>{{line['arrival_date']}}</td>
  <td>{{line['arrival_time']}}</td>
  <td>{{line['departure_airport']}}</td>
  <td>{{line['arrival_airport']}}</td>
  <td>{{line['status']}}</td>
</tr>
{% endfor %}
</table>
<br>

<h2>Rate my flights</h2>
<!-- <h3>type in flight info to rate a flight:</h3> -->
<!-- <form action="/rate" methods='POST'>
  airline<input type="text" name="airline" placeholder="airline name" required/><br>
  flight number<input type="text" name="number" placeholder="flight number" required/><br>
  departure date<input type="date" name="date" placeholder="departure date" required/><br>
  departure time<input type="time" name="time" placeholder="departure time" required/><br>
  <input type="submit" value=Submit />
</form> -->
<h3>unrated flights</h3>
  <table>
  	<th>Airline</th>
  	<th>Flight Number</th>
    <th>Departure Date</th>
    <th>Departure Time</th>
    <th>Source</th>
    <th>Destination</th>
    <th></th>
  {% for line in unrated %}
  <tr>
    <form action="/rate" method='POST'>
      <td><input type="text" name="airline" value="{{line['airline_name']}}" readonly/></td>
      <td><input type="text" name="number" value="{{line['flight_number']}}" readonly/></td>
      <td><input type="date" name="date" value="{{line['departure_date']}}" readonly/></td>
      <td><input tyoe="datetime" name="time" value="{{line['departure_time']}}" readonly/></td>
      <td><input type="text" name="source" value="{{line['departure_airport']}}" readonly/></td>
      <td><input type="text" name="destination" value="{{line['arrival_airport']}}" readonly/></td>
      <td><input type="submit" value=Rate /></td>
    </form>
  </tr>
  {% endfor %}
  </table>
<br>

<h2>Track my spending</h2>
<form action="/track" method="POST">
  date range <br>
  from <input id="from" type="date" name = "from-date" placeholder="YYYY/MM/DD" value={{from_date_track}} /> <br>
  to <input id="to" type="date" name = "to-date" placeholder="YYYY/MM/DD" value={{to_date_track}} /> <br>
  <input type="submit" value = Track />
</form>
<div>Total Spending: {{total}}</div>
<div id="barchart" style="height: 300px; width: 70%;"></div>
<br>

</body>


<script>
  document.getElementById("radio-one-div").addEventListener("click",function(){
    if(document.getElementById('radio-one').checked) {
      document.getElementById('return-date-div').style.visibility = "hidden";
      document.getElementById('return-date').removeAttribute("required");
    }else if(document.getElementById('radio-round').checked) {
      document.getElementById('return-date-div').style.visibility = "visible";
      document.getElementById('return-date').setAttribute("required","");
    }
  });

  // draw bar chart
  let monthly = [], Xaxis=[];
  let months = {{months | tojson}};
  {% if monthly_spending is defined and monthly_spending %}
    let monthly_spending = {{ monthly_spending | tojson }};
  {% endif %}
  let display_number = {{display_number}};
  for(let i=1; i<=display_number; i++){
    // reversed
    let index = monthly_spending.length-i;
    monthly.push(monthly_spending[index][0]['sum(sold_price)']);
    Xaxis.push(months[index]);
  }
  window.onload = function () {
    let chart = new CanvasJS.Chart("barchart", {
    	animationEnabled: true,
    	theme: "light2",
    	title:{
    		text: "Monthly Spending"
    	},
      axisX: {
        title: "Month"
      },
    	axisY: {
    		title: "Spending (RMB)"
    	},
    	data: [{
    		type: "column",
    		showInLegend: false,
    		dataPoints: []
    	}]
    });
    let bars = [];
    for(let i=monthly.length-1; i>=0; i--){
      bars.push({y:monthly[i], label:Xaxis[i]});
    }
    chart.render();
    chart.data[0].set("dataPoints",bars);
  }
</script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</html>
