<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<body>
<a href="/logout">Logout</a>
<h1>Welcome</h1>
<h2>Search for flights</h2>
<form action="/search" method="POST">
  source <br>
  <input type="text" name = "source" placeholder="source" required/> <br>
  destination <br>
  <input type="text" name = "destination" placeholder="destination" required/> <br>
  <div id="radio-one-div">
    <input type="radio" id="radio-one" name="triptype" value="one-way" />
    <label for="radio-one">one-way trip</label>
    <input type="radio" id="radio-round" name="triptype" value="round" checked/>
    <label for="radio-round">round trip</label><br>
  </div>
  departure date <br>
  <input type="date" name = "departure-date" placeholder="YYYY/DD/MM" required/> <br>
  <div id='return-date-div' style="visibility:visible;">
    return date <br>
    <input id="return-date" type="date" name = "return-date" placeholder="YYYY/DD/MM" required/> <br>
  </div>
  <input type="submit" value = Search />
</form>

<h2>View my flights</h2>
<form action="/view" method="POST">
  date range <br>
  from <input type="date" name = "from-date" placeholder="YYYY/MM/DD" /> <br>
  to <input type="date" name = "to-date" placeholder="YYYY/MM/DD" /> <br>
  source <br>
  <input type="text" name = "source" placeholder="source" /> <br>
  destination <br>
  <input type="text" name = "destination" placeholder="destination" /> <br>
  <input type="submit" value = View />
</form>

<h2>Rate my flights</h2>
<table>
	<th>Airline</th>
	<th>Flight Number</th>

  <th>Departure Date</th>
  <th>Departure Time</th>

  <th>Source</th>
  <th>Destination</th>
  <th></th>

{% for line in unrated %}
<form action= '/rate' methods="POST">
	<tr>
      <td><input type="text" name="airline_name" value={{line['airline_name']}} /></td>
      <td><input type="text" name="flight_number" value={{line['flight_number']}} /></td>
    <td><input type="date" name="departure_date" value={{line['departure_date']}} /></td>
    <td><input type="time" name="departure_time" value={{line['departure_time']}} /></td>
    <td><input type="text" name="arrival_airport" value={{line['arrival_airport']}} /></td>
    <td><input type="text" name="departure_airport" value={{line['departure_airport']}} /></td>
    <td><input type="submit" name="rate" value=Rate /></td>
	</tr>
</form>
{% endfor %}
</table>

<h2>Track my spending</h2>
<form action="/track" method="POST">
  date range <br>
  from <input id="from" type="date" name = "from-date" placeholder="YYYY/MM/DD" /> <br>
  to <input id="to" type="date" name = "to-date" placeholder="YYYY/MM/DD" /> <br>
  <input type="submit" value = Track />
</form>
<div>Total Spending: {{total}}</div>
<div id="barchart" style="height: 300px; width: 70%;"></div>
</body>

<script>
  document.getElementById("radio-one-div").addEventListener("click",function(){
    if(document.getElementById('radio-one').checked) {
      document.getElementById('return-date-div').style.visibility = "hidden";
      document.getElementById('return-date').removeAttribute("required");
    }else if(document.getElementById('radio-round').checked) {
      document.getElementById('return-date-div').style.visibility = "visible";
      document.getElementById('return-date').setAttribute("required","");
    }
  });
  if('{{submitted}}' == false){
    let d = new Date();
    document.getElementById('to').valueAsDate = d;
    document.getElementById('from').valueAsDate = new Date(d.getFullYear()-1,d.getMonth(),d.getDate()+1);
  }
  //draw bar chart
  window.onload = function () {
    var chart = new CanvasJS.Chart("barchart", {
    	animationEnabled: true,
    	theme: "light2",
    	title:{
    		text: "Monthly Spending"
    	},
      axisX: {
        title: "Month"
      },
    	axisY: {
    		title: "Spending (RMB)"
    	},
    	data: [{
    		type: "bar",
    		showInLegend: false,
    		// legendMarkerColor: "grey",
    		// legendText: "RMB",
    		dataPoints: [
    			{ y: 300878, label: "2018-02" },
    			{ y: 266455,  label: "2018-03" },
    			{ y: 169709,  label: "2018-04" },
    			{ y: 158400,  label: "2018-05" },
    			{ y: 142503,  label: "2018-06" },
    			{ y: 101500, label: "2018-07" },
    		]
    	}]
    });
    chart.render();
  }
</script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</html>
