<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<body>
{% if not message %}
	<a href="/login">Login</a>
	<a href="/register">Register</a>
  <h1>Search for flights</h1>
  <form action="/search" method="POST">
    source <br>
    <input type="text" name = "source" placeholder="source" required/> <br>
    destination <br>
    <input type="text" name = "destination" placeholder="destination" required/> <br>
    <input type="checkbox" name = "trip-type" value="round trip" />round trip<br>
    departure date <br>
    <input type="date" name = "departure-date" placeholder="YYYY/DD/MM" required/> <br>
  	return date <br>
    <input id="return-date" type="date" name = "return-date" placeholder="YYYY/DD/MM" required/> <br>
  	<input type="submit" value = Search />
  </form>
  <h2>Check flight status</h2>
  <form action="/check" method="POST">
    <input type="text" name = "airline-name" placeholder="airline name" required/> <br>
    <input type="text" name = "flight-number" placeholder="flight number" required/> <br>
    <input type="date" name = "departure-date" placeholder="departure date" required/> <br>
    <input type="date" name = "arrival-date" placeholder="arrival date" required/> <br>
    <input type="submit" value = Check />
  </form>
{% endif %}

{% if message %}
	<a href="/logout">Logout</a>
	<a href="/remove_account">Remove Account</a>
	<p class="message">You are logged in {{message}}.</p> <br>
	<a href="/view">View purchased flights</a> <br>
	<a href="/search">Search for flights</a> <br>
	<a href="/rate">Rate flights</a> <br>
	<br>
{% endif %}
</body>

</html>
