<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<body>
  <form action="/loginAuth" method="POST">
    <p>User Type</p>
  	<input type="submit" name="usertype" value = Staff />
    <input type="submit" name="usertype" value = Customer />
  	{% if error %}
  		<p class="error"><strong>Error:</strong> {{error}}</p>
  	{% endif %}
  </form>

  <a href="/">Go back</a>
</body>

<!-- <script src="js/script.js" type="text/javascript"></script> -->
</html>
