<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<body>
<a href="/logout">Logout</a>
/ <a href="/customer_home">Back</a>
<h1>Purchase flight ticket(s)</h1>
<table>
	<th>Airline</th>
	<th>Flight Number</th>
  <th>Departure Date</th>
  <th>Departure Time</th>
  <th>Arrival Date</th>
  <th>Arrival Time</th>
  <th>Source</th>
  <th>Destination</th>
  <th>Price</th>
{% for line in flights %}
<tr>
	<td>{{line['airline_name']}}</td>
	<td>{{line['flight_number']}}</td>
  <td>{{line['departure_date']}}</td>
  <td>{{line['departure_time']}}</td>
  <td>{{line['arrival_date']}}</td>
  <td>{{line['arrival_time']}}</td>
  <td>{{line['departure_airport']}}</td>
  <td>{{line['arrival_airport']}}</td>
  <td>{{line['price']}}</td>
</tr>
{% endfor %}
</table>

<h2>Total price: {{total}}</h2>

<form action="/payCustomer" method="POST">
  <div id="radio-one-div">
    <input type="radio" id="radio-one" name="cardtype" value="debit card" checked />
    <label for="radio-one">dedit card</label>
    <input type="radio" id="radio-round" name="cardtype" value="credit card"/>
    <label for="radio-round">credit card</label><br>
  </div>
  card number <input type="text" name = "card-number" placeholder="card number" required/> <br>
  name on card <input type="text" name = "name-on-card" placeholder="name on card" required/> <br>
  security code <input type="text" name = "security-code" placeholder="security code" required/> <br>
  card expiration date <input type="date" name = "card-expiration" placeholder="YYYY/MM/DD" required/> <br>
  <input type="submit" value = Pay />
</form>
</body>

</html>
