<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<body>
<a href="/logout">Logout</a>
/ <a href="/customer-home">Back</a>
<h1>Rate my flight</h1>
<table>
	<th>Airline</th>
	<th>Flight Number</th>
  <th>Departure Date</th>
  <th>Departure Time</th>
  <th>Arrival Date</th>
  <th>Arrival Time</th>
  <th>Source</th>
  <th>Destination</th>
  <th>Price</th>
{% for line in flights %}
<tr>
	<td>{{line['airline-name']}}</td>
	<td>{{line['flight-number']}}</td>
  <td>{{line['departure-date']}}</td>
  <td>{{line['departure-time']}}</td>
  <td>{{line['arrival-date']}}</td>
  <td>{{line['arrival-time']}}</td>
  <td>{{line['source']}}</td>
  <td>{{line['destination']}}</td>
  <td>{{line['price']}}</td>
</tr>
{% endfor %}
</table>
<br>
<form action="/rateCustomer" method="POST">
  rate (1-5)<br>
  <input style="width:30px;" type="number" name = "rate" min="1" max="5" step="1" value="1" required/> <br>
  comments <br>
  <input style="word-break:break-word;height:80px;width:30%;" type="text" name = "comment" placeholder="type your comments" required/> <br>
  <input type="submit" value = Submit />
</form>
</body>

</html>
