<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<body>
  <form action="/registerCustomerAuth" method="POST">
  	<input type="email" name = "username" placeholder="email" required/> <br>
  	<input type="password" name = "password" placeholder="password" required/><br>
    <input type="text" name = "name" placeholder="name" required/><br>
    <input type="date" name = "DOB" placeholder="date of birth (YYYY/MM/DD)" required/> <br>
    <input type="tel" name = "phone-number" placeholder="phone number" required/><br>
    <p>address:</p><br>
    <input type="number" name = "building_number" placeholder="building number" required/><br>
    <input type="text" name = "street" placeholder="street" required/><br>
    <input type="text" name = "city" placeholder="city" required/><br>
    <input type="text" name = "state" placeholder="state" required/><br>
    <input type="text" name = "passport-number" placeholder="passport number" required/><br>
    <input type="date" name = "passport-expiration" placeholder="passport expiration (YYYY/MM/DD)" required/><br>
    <input type="text" name = "passport-country" placeholder="passport country" required/><br>
  	<input type="submit" value = Register />
  	{% if error %}
  		<p class="error"><strong>Error:</strong> {{error}}</p>
  	{% endif %}
  </form>
  <a href="/">Go back</a>
</body>

<!-- <script src="js/script.js" type="text/javascript"></script> -->
</html>
