<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<body>
  <form action="/registerStaffAuth" method="POST">
  	username(email)<br>
    <input type="email" name = "username" placeholder="email" required/> <br>
    airline<br>
    <input type="text" name = "airline-name" placeholder="airline name" required/> <br>
  	password<br>
    <input type="password" name = "password" placeholder="password" required/><br>
    first name<br>
    <input type="text" name = "first-name" placeholder="first name" required/> <br>
    second name<br>
    <input type="text" name = "last-name" placeholder="last name" required/> <br>
    date of birth<br>
    <input type="date" name = "DOB" placeholder="YYYY/MM/DD" required/> <br>
  	phone number<br>
    <input type="tel" name = "phone-number" placeholder="phone number" required/><br>
  	<input type="submit" value = Register />
  	{% if error %}
  		<p class="error"><strong>Error:</strong> {{error}}</p>
  	{% endif %}
  </form>
  <a href="/">Go back</a>
</body>

<!-- <script src="js/script.js" type="text/javascript"></script> -->
</html>
