<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<body>
<a href="/">Back</a>
<h1>Search for flights</h1>
<form action="/searchPublic" method="POST">
  source <br>
  <input type="text" name = "source" placeholder="source" required/> <br>
  destination <br>
  <input type="text" name = "destination" placeholder="destination" required/> <br>
  <input type="radio" id="radio-one" name="switch-one" value="one-way" />
  <label for="radio-one">one-way trip</label>
  <input type="radio" id="radio-two" name="switch-one" value="round" checked/>
  <label for="radio-two">round trip</label><br>
  departure date <br>
  <input type="date" name = "departure-date" placeholder="YYYY/DD/MM" required/> <br>
  <div id='return-date'>
    return date <br>
    <input id="return-date" type="date" name = "return-date" placeholder="YYYY/DD/MM" required/> <br>
  </div>
  <input type="submit" value = Search />
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Airline</th>
	<th>Flight Number</th>
  <th>Departure Date</th>
  <th>Departure Time</th>
  <th>Arrival Date</th>
  <th>Arrival Time</th>
  <th>Source</th>
  <th>Destination</th>
  <th>Price</th>

{% for line in flights %}
<tr>
	<td>{{line['airline_name']}}</td>
	<td>{{line['flight_number']}}</td>
  <td>{{line['departure_date']}}</td>
  <td>{{line['departure_time']}}</td>
  <td>{{line['arrival_date']}}</td>
  <td>{{line['arrival_time']}}</td>
  <td>{{line['arrival_airport']}}</td>
  <td>{{line['departure_airport']}}</td>
  <td>{{line['price']}}</td>
</tr>
{% endfor %}
</table>

</body>

</html>
