<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<body>
<a href="/logout">Logout</a>
/ <a href="/customer_home">Back</a>
<h1>Search for flights</h1>
<form action="/searchCustomerOneWay" method="POST">
  <!-- get value from init -->
  source <input type="text" name = "source" placeholder="source" value={{source}} required/> <br>
  destination <input type="text" name = "destination" placeholder="destination" value={{destination}} required/> <br>
  <div id="radio-one-div">
    <input type="radio" id="radio-one" name="triptype" value="one-way" checked/>
    <label for="radio-one">one-way trip</label>
    <input type="radio" id="radio-round" name="triptype" value="round"/>
    <label for="radio-round">round trip</label><br>
  </div>
  departure date <input type="date" name = "depart-date" placeholder="YYYY/DD/MM" value={{depart_date}} required/> <br>
  <div id='return-date-div' style="visibility:hidden;">
    return date <input id="return-date" type="date" name = "return-date" placeholder="YYYY/DD/MM" /> <br>
  </div>
  <input type="submit" value = Search />
</form>

<table>
	<th>Airline</th>
	<th>Flight Number</th>
  <th>Departure Date</th>
  <th>Departure Time</th>
  <th>Arrival Date</th>
  <th>Arrival Time</th>
  <th>Source</th>
  <th>Destination</th>
  <th>Price</th>
{% for line in flights %}
<tr>
  <form action="/purchaseCustomerOneWay" method="POST">
    <td><input type="text" name="airline-name" value="{{line['airline_name']}}" readonly/></td>
    <td><input type="text" name="flight-number" value="{{line['flight_number']}}" readonly/></td>
    <td><input type="date" name="departure-date" value="{{line['departure_date']}}" readonly/></td>
    <td><input tyoe="datetime" name="departure-time" value="{{line['departure_time']}}" readonly/></td>
    <td><input type="date" name="arrival-date" value="{{line['arrival_date']}}" readonly/></td>
    <td><input tyoe="datetime" name="arrival-time" value="{{line['arrival_time']}}" readonly/></td>
    <td><input type="text" name="source" value="{{line['departure_airport']}}" readonly/></td>
    <td><input type="text" name="destination" value="{{line['arrival_airport']}}" readonly/></td>
    <td><input type="number" name="price" value="{{line['price']}}" readonly/></td>
    <td><input type="submit" value=Purchase /></td>
  </form>
</tr>
{% endfor %}
</table>

</body>

<script>
  document.getElementById("radio-one-div").addEventListener("click",function(){
    if(document.getElementById('radio-one').checked) {
      document.getElementById('return-date-div').style.visibility = "hidden";
      document.getElementById('return-date').removeAttribute("required");
    }else if(document.getElementById('radio-round').checked) {
      document.getElementById('return-date-div').style.visibility = "visible";
      document.getElementById('return-date').setAttribute("required","");
    }
  });
</script>

</html>
