<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<body>
  <a href="/logout">Logout</a>
  <h1>Welcome</h1>
  <h2>View flights</h2>
  <form action="/viewFlights" method="POST">
    date range <br>
    from <input type="date" name = "from-date" placeholder="YYYY/MM/DD" /> <br>
    to <input type="date" name = "to-date" placeholder="YYYY/MM/DD" /> <br>
    source <input type="text" name = "source" placeholder="source" /> <br>
    destination <input type="text" name = "destination" placeholder="destination" /> <br>
    <input type="submit" value = View />
  </form>
  <table>
  	<th>Airline</th>
  	<th>Flight Number</th>
    <th>Departure Date</th>
    <th>Departure Time</th>
    <th>Arrival Date</th>
    <th>Arrival Time</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Status</th>
  {% for line in flights %}
  <tr>
  	<td>{{line['airline_name']}}</td>
  	<td>{{line['flight_number']}}</td>
    <td>{{line['departure_date']}}</td>
    <td>{{line['departure_time']}}</td>
    <td>{{line['arrival_date']}}</td>
    <td>{{line['arrival_time']}}</td>
    <td>{{line['departure_airport']}}</td>
    <td>{{line['arrival_airport']}}</td>
    <td>{{line['status']}}</td>
  </tr>
  {% endfor %}
  </table>

  <h2>Change flight status</h2>
  <form action="/changeStatus" method="POST">
    <input type="submit" value = Go />
  </form>

  <h2>Create new flight and tickets</h2>
  <form action="/createFlight" method="POST">
    flight number <input type="text" name="flight-number" placeholder="flight number" required/><br>
    departure date<input type="date" name="departure-date" placeholder="YYYY/MM/DD" required/><br>
    departure time<input type="time" name="departure-time" placeholder="HH:MM:SS" required/><br>
    arrival date<input type="date" name="arrival-date" placeholder="YYYY/MM/DD" required/><br>
    arrival time<input type="time" name="arrival-time" placeholder="HH:MM:SS" required/><br>
    departure airport<input type="text" name="departure-airport" placeholder="departure airport" required/><br>
    arrival airport<input type="text" name="arrival-airport" placeholder="arrival airport" required/><br>
    base price<input type="number" name="base-price" placeholder="base price" required/><br>
    status<input type="text" name="status" placeholder="status" value="on-time" required/><br>
    airplane id<input type="text" name="airplane-id" placeholder="airplane id" required/><br>
    <input type="submit" value = Submit />
    {% if exist_flight %}
  		<p class="error"><strong>Error:</strong> {{exist_flight}}</p>
  	{% endif %}
  </form>

  <h2>Add airplane</h2>
  <form action="/createAirplane" method="POST">
    airplane id <input type="text" name="airplane-id" placeholder="airplane id" required/><br>
    seating capacity <input type="number" name="seating-capacity" placeholder="seating capacity" min="1" step="1" required/><br>
    <input type="submit" value = Submit />
    {% if exist_airplane %}
  		<p class="error"><strong>Error:</strong> {{exist_airplane}}</p>
  	{% endif %}
  </form>
  <div>{{exist_airplane}}</div>

  <h2>Add airport</h2>
  <form action="/createAirport" method="POST">
    airport name <input type="text" name="airport-name" placeholder="airport name" required/><br>
    city <input type="text" name="city" placeholder="city" required/><br>
    <input type="submit" value = Submit />
    {% if exist_airport %}
  		<p class="error"><strong>Error:</strong> {{exist_airport}}</p>
  	{% endif %}
  </form>

  <h2>View analyses</h2>
  <form action="/viewRatings" methos="POST">
    <div>
      <label for="submit">Flight ratings</label>
      <input type="submit" value=Go />
    </div>
  </form>
  <form action="/frequentCustomer" methos="POST">
    <div>
      <label for="submit">Most frequent customer of last year</label>
      <input type="submit" value=Go />
    </div>
  </form>
  <form action="/report" methos="POST">
    <div>
      <label for="submit">Ticket sales report</label>
      <input type="submit" value=Go />
    </div>
  </form>

  <h3>Quarterly revenue of last year</h3>
  <div id="piechart" style="height: 300px; width: 70%;"></div>



</body>

<!-- <script>
  // draw pie chart
  let quarterly = [];
  let quarters = [1,2,3,4]
  {% if quarterly_spending is defined and quarterly_spending %}
    let quarterly_spending = {{ quarterly_spending | tojson }};
  {% endif %}
  for(let i=0; i<4; i++){
    quarterly.push(quarterly_spending[i][0]['sum(sold_price)']);
  }
  window.onload = function () {
    let chart = new CanvasJS.Chart("piechart", {
      animationEnabled: true,
      theme: "light2",
      title:{
        text: "Quarterly Revenue"
      },
      axisX: {
        title: "Quarter"
      },
      axisY: {
        title: "Revenue (RMB)"
      },
      data: [{
        type: "pie",
        showInLegend: false,
        dataPoints: []
      }]
    });
    let parts = [];
    for(let i=0; i<4; i++){
      parts.push({y:quarterly[i], label:quarters[i]});
    }
    chart.render();
    chart.data[0].set("dataPoints",parts);
  }
</script> -->

</html>
