<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<body>
  <a href="/logout">Logout</a>
  <h1>Welcome</h1>
  <h2>View flights</h2>
  <form action="/viewFlights" method="POST">
    date range <br>
    from <input type="date" name = "from-date" placeholder="YYYY/MM/DD" value="{{from_date}}" /> <br>
    to <input type="date" name = "to-date" placeholder="YYYY/MM/DD" value="{{to_date}}" /> <br>
    source <input type="text" name = "source" placeholder="source" /> <br>
    destination <input type="text" name = "destination" placeholder="destination" /> <br>
    <input type="submit" value = View />
  </form>
  <table>
  	<th>Airline</th>
  	<th>Flight Number</th>
    <th>Departure Date</th>
    <th>Departure Time</th>
    <th>Arrival Date</th>
    <th>Arrival Time</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Base Price</th>
    <th>Status</th>
    <th></th>
  {% for line in flights %}
  <tr>
    <form action="/viewFlightCustomers" method="POST">
      <td><input type="text" name="airline-name" value="{{line['airline_name']}}" readonly/></td>
    	<td><input type="text" name="flight-number" value="{{line['flight_number']}}" readonly/></td>
      <td><input type="date" name="departure-date" value="{{line['departure_date']}}" readonly/></td>
      <td><input type="datetime" name="departure-time" value="{{line['departure_time']}}" readonly/></td>
      <td><input type="date" name="arrival-date" value="{{line['arrival_date']}}" readonly/></td>
      <td><input type="datetime" name="arrival-time" value="{{line['arrival_time']}}" readonly/></td>
      <td><input type="text" name="departure-airport" value="{{line['departure_airport']}}" readonly/></td>
      <td><input type="text" name="arrival-airport" value="{{line['arrival_airport']}}" readonly/></td>
      <td><input type="number" name="base-price" value="{{line['base_price']}}" readonly/></td>
      <td><input type="text" name="status" value="{{line['status']}}" readonly/></td>
      <td><input type="submit" value="View customers" /></td>
    </form>
  </tr>
  {% endfor %}
  </table>
  <br>

  <h2>Change flight status</h2>
  <form action="/changeStatus" method="POST">
    <input type="submit" value = Go />
  </form>
  <br>

  <h2>Create new flight and tickets</h2>
  <form action="/createFlight" method="POST">
    flight number <input type="text" name="flight-number" placeholder="flight number" required/><br>
    departure date<input type="date" name="departure-date" placeholder="YYYY/MM/DD" required/><br>
    departure time<input type="time" name="departure-time" step="1" placeholder="HH:MM:SS" required/><br>
    arrival date<input type="date" name="arrival-date" placeholder="YYYY/MM/DD" required/><br>
    arrival time<input type="time" name="arrival-time" step="1" placeholder="HH:MM:SS" required/><br>
    departure airport<input type="text" name="departure-airport" placeholder="departure airport" required/><br>
    arrival airport<input type="text" name="arrival-airport" placeholder="arrival airport" required/><br>
    base price<input type="number" name="base-price" placeholder="base price" required/><br>
    status<input type="text" name="status" placeholder="status" value="on-time" required/><br>
    airplane id<input type="text" name="airplane-id" placeholder="airplane id" required/><br>
    <input type="submit" value = Submit />
  </form>
  <br>

  <h2>Add airplane</h2>
  <form action="/createAirplane" method="POST">
    airplane id <input type="text" name="airplane-id" placeholder="airplane id" required/><br>
    seating capacity <input type="number" name="seating-capacity" placeholder="seating capacity" min="1" step="1" required/><br>
    <input type="submit" value = Submit />
  </form>
  <br>

  <h2>Add airport</h2>
  <form action="/createAirport" method="POST">
    airport name <input type="text" name="airport-name" placeholder="airport name" required/><br>
    city <input type="text" name="city" placeholder="city" required/><br>
    <input type="submit" value = Submit />
  </form>
  <br>

  <h2>View analyses</h2>
  <form action="/view_ratings" methos="POST">
    <div>
      <label for="submit">Flight ratings</label>
      <input type="submit" value=Go />
    </div>
  </form>
  <form action="/view_all_customers" methos="POST">
    <div>
      <label for="submit">All customers</label>
      <input type="submit" value=Go />
    </div>
  </form>
  <form action="/frequentCustomer" methos="POST">
    <div>
      <label for="submit">Most frequent customer of last year</label>
      <input type="submit" value=Go />
    </div>
  </form>
  <form action="/sales" methos="POST">
    <div>
      <label for="submit">Ticket sales report</label>
      <input type="submit" value=Go />
    </div>
  </form>
  <form action="/revenue" methos="POST">
    <div>
      <label for="submit">Quarterly revenue of last year</label>
      <input type="submit" value=Go />
    </div>
  </form>
  <form action="/topDestination" methos="POST">
    <div>
      <label for="submit">Top 3 destinations</label>
      <input type="submit" value=Go />
    </div>
  </form>
  <br>

</body>

</html>
