<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<body>
  <a href="/logout">Logout</a>
  / <a href="/staff_home">Back</a>
  <h1>View flights</h1>
  <form action="/viewFlightsStaff" method="POST">
    date range <br>
    from <input type="date" name = "from-date" placeholder="YYYY/MM/DD" value="{{from_date}}" /> <br>
    to <input type="date" name = "to-date" placeholder="YYYY/MM/DD" value="{{to_date}}" /> <br>
    source <input type="text" name = "source" placeholder="source" value="{{source}}" /> <br>
    destination <input type="text" name = "destination" placeholder="destination" value="{{destination}}" /> <br>
    <input type="submit" value = View />
  </form>
  <table>
  	<th>Airline</th>
  	<th>Flight Number</th>
    <th>Departure Date</th>
    <th>Departure Time</th>
    <th>Arrival Date</th>
    <th>Arrival Time</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Base Price</th>
    <th>Status</th>
    <th></th>
  {% for line in flights %}
  <tr>
    <form action="/viewFlightCustomers" method="POST">
    	<td><input type="text" name="airline-name" value="{{line['airline_name']}}" readonly/></td>
    	<td><input type="text" name="flight-number" value="{{line['flight_number']}}" readonly/></td>
      <td><input type="date" name="departure-date" value="{{line['departure_date']}}" readonly/></td>
      <td><input type="datetime" name="departure-time" value="{{line['departure_time']}}" readonly/></td>
      <td><input type="date" name="arrival-date" value="{{line['arrival_date']}}" readonly/></td>
      <td><input type="datetime" name="arrival-time" value="{{line['arrival_time']}}" readonly/></td>
      <td><input type="text" name="departure-airport" value="{{line['departure_airport']}}" readonly/></td>
      <td><input type="text" name="arrival-airport" value="{{line['arrival_airport']}}" readonly/></td>
      <td><input type="number" name="base-price" value="{{line['base_price']}}" readonly/></td>
      <td><input type="text" name="status" value="{{line['status']}}" readonly/></td>
      <td><input type="submit" value="View customers" /></td>
    </form>
  </tr>
  {% endfor %}
  </table>
</body>

</html>
