<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<body>
<a href="/logout">Logout</a>
/ <a href="/customer-home">Back</a>
<h1>View my flights</h1>
<form action="/view" method="POST">
  <input type="radio" id="radio-one" name="switch-one" value="future" checked/>
  <label for="radio-one">future flights</label>
  <input type="radio" id="radio-two" name="switch-one" value="historical" />
  <label for="radio-two">historical flights</label>
  <input type="radio" id="radio-three" name="switch-one" value="all" />
  <label for="radio-three">all flights</label><br>
  date range <br>
  from <input type="date" name = "YYYY/MM/DD" /> <br>
  to <input type="date" name = "YYYY/MM/DD" /> <br>
  source <br>
  <input type="text" name = "source" placeholder="source" /> <br>
  destination <br>
  <input type="text" name = "destination" placeholder="destination" /> <br>
  <input type="submit" value = View />
</form>

<table>
	<th>Airline</th>
	<th>Flight Number</th>
  <th>Departure Date</th>
  <th>Departure Time</th>
  <th>Arrival Date</th>
  <th>Arrival Time</th>
  <th>Source</th>
  <th>Destination</th>
  <th>Price</th>
  <th>Status</th>

{% for line in flights %}
<tr>
	<td>{{line['airline-name']}}</td>
	<td>{{line['flight-number']}}</td>
  <td>{{line['departure-date']}}</td>
  <td>{{line['departure-time']}}</td>
  <td>{{line['arrival-date']}}</td>
  <td>{{line['arrival-time']}}</td>
  <td>{{line['source']}}</td>
  <td>{{line['destination']}}</td>
  <td>{{line['price']}}</td>
  <td>{{line['status']}}</td>
</tr>
{% endfor %}
</table>
</body>

</html>
